@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Slab:ital,wght@1,600&family=Lora&family=Space+Mono&family=Trirong:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5e5d1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: #536730;
}

.nav-logo h2 {
  font-family: "Space Mono", monospace;
  cursor: pointer;
  color: #e8e5e0;
}

.nav-items a {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  color: #e8e5e0;
}

.nav-items a:hover {
  color: #f5e5d1;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
    gap: 40px;
    height: 100vh;
    text-align: center;
  }

  .nav-items.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-items {
    display: flex;
  }
}

.carousel-container {
  width: 100%;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}
